*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
header{
    width: 100%;
    height: 0.5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: #FFFFFF;
    border-bottom: 0.01rem solid lightgray;
    #head{
        width: 90%;
        height: 0.4rem;
        margin: auto;
        line-height: 0.5rem;
        ul{
            width: 100%;
            height: 0.4rem;
            display: flex;
            justify-content: space-around;
            list-style: none;
            padding: 0;
            margin: 0;
            .head_lio{
                width: 10%;
                height: 0.4rem;
//              border: 1px solid red;
                text-align: center;
                img{
                    width: 60%;
                }
            }
            .head_lit{
                width: 70%;
                height: 0.4rem;
                margin: auto;
//              border: 1px solid red;
                text-align: center;
                input{
                    width: 100%;
                    height: 0.36rem;
                    background-color: #f4f4f4;
                    border-radius: 0.1rem;
                    border: 0;
                    outline: none;
                }
            }
        }
    }
}
nav{
    width: 100%;
    position: absolute;
    top: 0.5rem;
    left: 0;
    right: 0;
    #main{
        width: 100%;
        height: 100%;
        #main_left{
            width: 23%;
//          border: 1px solid peru;
            float: left;
            position: fixed;
            top: 0.5rem;
            left: 0;
            bottom: 0;
            ul{
                width: 100%;
                padding: 0;
                margin: 0;
                li{
                    width: 100%;
                    height: 0.5rem;
                    line-height: 0.5rem;
                    text-align: center;
//                  border: 1px solid papayawhip;
                }
            }
        }
        #main_right{
            width: 75%;
            height: 100%;
//          border: 1px solid palegreen;
            float: right;
            .first{
                width: 90%;
                margin: auto;
//              border: 1px solid black;
                .first_topword{
                    width: 100%;
                    line-height: 0.5rem;
                }
                .first_mainimg{
                    width: 100%;
                    img{
                        width: 100%;
                    }
                }
                .first_mainshop{
                    width: 100%;
                    table{
                        width: 100%;
                        tr{
                            width: 100%;
                            td{
                                width: 32%;
                                padding-top: 0.2rem;
                                text-align: center;
                                img{
                                    width: 50%;
                                }
                                p{
                                    color: #b3b3b3;
                                    font-size: 0.14rem;
                                    line-height: 0.4rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.spical{
    font-size: 0.17rem;
    font-weight: 600;
    span{
        color: #f1637b;
    }
}
 