@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
}

header {
	width: 100%;
	margin: auto;
	background-color: #FFFFFF;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
}

header #head_top {
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	line-height: 0.6rem;
}

header #head_top .top {
	width: 1rem;
	display: flex;
	justify-content: space-between;
	font-size: 0.18rem;
	font-weight: 800;
	font-family: "妤蜂綋", "妤蜂綋_GB2312";
}

header #head_top .top .headtop_left {
	color: #000000;
}

header #head_top .top .headtop_right a span{
	color: #ababab;
}

#main_box {
	position: absolute;
	width: 100%;
	top: 0.5rem;
	margin: auto;
}

#main_box .box_fir {
	width: 100%;
}

#main_box .box_fir .maib_ban {
	width: 100%;
	margin: auto;
	text-align: center;
}

#main_box .box_fir .bannermain {
	width: 100%;
	padding: 0.2rem;
	font-weight: bold;
}

#main_box .box_fir .bannermain img {
	width: 100%;
}

#main_box .box_fir .bannermain .banner_span {
	width: 100%;
	font-size: 0.16rem;
	line-height: 0.32rem;
	letter-spacing: 0.05rem;
	font-family: "妤蜂綋", "妤蜂綋_GB2312";
}

#main_box .box_fir .bannermain .banner_bottom {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

#main_box .box_fir .bannermain .banner_bottom .bane_left {
	width: 70%;
}

#main_box .box_fir .bannermain .banner_bottom .bane_left .left_main {
	width: 100%;
}

#main_box .box_fir .bannermain .banner_bottom .bane_left .left_main ul {
	width: 100%;
	display: flex;
	list-style: none;
	justify-content: space-between;
}

#main_box .box_fir .bannermain .banner_bottom .bane_left .left_main ul li {
	width: 33%;
	padding: 0.05rem 0.05rem 0 0.05rem;
}

#main_box .box_fir .bannermain .banner_bottom .bane_left .left_main ul li .lmain_boox {
	width: 100%;
	height: 100%;
	line-height: 0.3rem;
	text-align: center;
	background-color: #f5f5f5;
	border-radius: 0.2rem;
	font-weight: 100;
	color: #4e4e4e;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#main_box .box_fir .bannermain .banner_bottom .bane_left .left_main ul li .lmain_boox span {
	font-size: 0.008rem;
}

#main_box .box_fir .bannermain .banner_bottom .bane_right {
	width: 30%;
	font-size: 0.008rem;
	color: lightgray;
}

#main_box .box_fir .bannermain .banner_bottom .bane_right span {
	float: right;
	line-height: 0.38rem;
	font-family: "妤蜂綋", "妤蜂綋_GB2312";
	font-weight: 100;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 0.5rem;
	z-index: 99;
	background-color: #FFFFFF;
}

footer .foot {
	width: 100%;
	height: 0.5rem;
	padding-top: 0.05rem;
	background-color: #FFFFFF;
}

footer .foot ul {
	width: 100%;
	display: flex;
	height: 0.5rem;
	justify-content: space-around;
	list-style: none;
	text-align: center;
	font-size: 0.01rem;
}

footer .foot ul li {
	width: 50%;
	height: 0.5rem;
	margin: auto;
	text-align: center;
	font-size: 0.1rem;
}

footer img {
	width: 0.26rem;
}

footer .foot ul li a {
	color: #000000;
	text-decoration: none;
}


/*# sourceMappingURL=index.css.map */